<footer class="site-footer">

    <div class="footer-inner">

        <div>

            © {{ now.Format "2006" }} Birgit Bader

        </div>

        <div class="footer-links">

            <a href="https://www.linkedin.com/in/birgit-b-838503207/" target="_blank">
                LinkedIn
            </a>

            <a href="/imprint/">
                Imprint
            </a>

            <a href="/privacy/">
                Privacy
            </a>

            <a href="/cookies/">
                Cookies
            </a>

        </div>

    </div>

</footer>