{{ define "main" }}

{{ $portrait := resources.Get "images/birgit.jpg" }}
{{ $portrait = $portrait.Resize "700x" }}

<section class="home-hero">

  <h1 class="hero-name">
    Birgit Bader
  </h1>

  <div class="hero-content">

    <div class="hero-text">

      {{ .Content }}

      <p class="hero-links">
        <a href="/about/">About me →</a>
      </p>

    </div>

    <div class="hero-image">

      <img
        src="{{ $portrait.RelPermalink }}"
        width="{{ $portrait.Width }}"
        height="{{ $portrait.Height }}"
        alt="Birgit Bader">

    </div>

  </div>

</section>

{{ end }}